body{
    background:radial-gradient(#fff,#ffd6d6);

}
.navbar {
    padding-left: 20px;
}

.navbar .active {
    background-color: #69f1bf;
}

.navbar .profile {
    margin-left: 5px
}

.mobile-navbar {
    background-color: #69f1bf;
    justify-content: space-between;
}

.mobile-profile {
    margin-right: 10px;
}

#addproductbox {
    padding: 20px;
}
.proddisc .MuiTextField-root{
    width: 100% !important;
}
.table-container{
    width: 70vw !important;
    margin: auto;
    margin-top: 20px;
}
#select-required{
    padding: 8px 14px !important;
}

/* ============================Add Product CSS===== */
.prod_delete_button{
    position: absolute;
    bottom: -5px;
    margin: auto;
    left: 47%;
}
.show_image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.show_image .imagecard{
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    display: block;
    text-align: inherit;
    width: 100%;
}
.show_image .image_box{
    width: 100%;
    max-width: 235px;
    margin: 16px;
}
.show_image .imagecard img{
    width: 100%;
}